@{
    ViewData["Title"] = "Lista de Productos";
}
<h1>@ViewData["Title"]</h1>

<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Producto")'" >Nuevo Producto</button>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">NOMBRE</th>
      <th scope="col">DESCRIPCION</th>
      <th scope="col">CANTIDAD</th>
      <th scope="col">ACCIONES</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr>
        <th scope="row">@item.IdProducto</th>
        <td>@item.Nombre</td>
        <td>@item.Descripcion</td>
        <td>@item.cantidad</td>
        <td>
          <a asp-action ="Details" asp-route-IdProducto="@item.IdProducto" class="btn btn-info" >VISTA</a>
          <a asp-action ="Edit" asp-route-IdProducto="@item.IdProducto" class="btn btn-info" >EDITAR</a>
          <a asp-action ="Delete" asp-route-IdProducto="@item.IdProducto" class="btn btn-info" >ELIMINAR</a>
        </td>
      </tr>
    }
  </tbody>
</table>